.header,
.site-header {
    display: flex;
    justify-content: space-between;
    background-image: $header-background-color;
}

.hidden {
    display: none;
}

.title,
.logo {
    padding: 3em 3em 3em 0;
}

.title p {
    font-style: italic;
    color: $font-color;
}

.title h1 {
    color: $font-color;
}

.title p:hover {
    color: $hover-background-color-header;
}

.title h1:hover {
    color: $hover-background-color-header;
}

@media (max-width: 767px) {
    .title {
        padding: 1em 1em 1em 0;
    }

    .title {
        min-width: 60%;
        text-align: right;
    }

    .logo {
        display: none !important;
    }
}
