body {
    display: flex;
    flex-direction: column;
    // margin: 100px;
    // margin-top: 0px;
    background-color: $background-color;
    color: $font-color;
}

a {
    background-color: transparent;
    color: $font-color;
}

img {
    max-width: 100%;
    height: auto;
    filter: $filter-pic;
}

figure {
    border: 30px solid;
    border-image: repeating-linear-gradient(45deg, #f33, #3bf, #f33 30px) 60;
    width: 1000px;
    height: 660px;
}

.main {
    flex: 1 0 auto;
    width: 64em;
    margin: 2em auto;
    // margin-top: 50px;
}

.header,
.footer {
    flex: 0 0 auto;
}

.arrow {
    display: block;
    width: 10px;
    height: 10px;
    border-top: 3px solid $font-color;
    border-left: 3px solid $font-color;
}

.arrow {
    transform: rotate(-45deg);
}

.arrow::after {
    content: '';
    display: block;
    width: 3px;
    height: 45px;
    background-color: $font-color;
    transform: rotate(-45deg) translate(15px, 4px);
    left: 0;
    top: 0;
}


@media (max-width: 767px) {
    .main {
        width: 96%;
    }
}
