.technology-container {
    display: grid;
    gap: 1em 1em;
}

.squareobj {
    grid-column: span 1;
}

.technology-container h1,
.technology-container p {
    grid-column: span 3;
    justify-self: center;
}

.technology-container .technology {
    box-shadow: rgba(0, 0, 0, 0.56) 0 22px 70px 4px;
    height: 5em;
    border: 1px solid $border-color;
    padding: 1em;
    color: $font-color;
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px rgb(255, 252, 252);
}

.technology-container .technology:hover {
    background-color: $hover-background-color-body;
}

.technology-article {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.technology-article .sidebar {
    width: 30%;
}

.technology-article .article {
    width: auto;
}

.technology-article .sidebar ul {
    list-style-type: none;
    padding-left: 0;
}

.sidebarlistitem {
    color: $font-color;
}

.sidebarlistitem:hover {
    color: $hover-background-color-body;
}

@media (max-width: 767px) {
    .technology-article .sidebar {
        display: none;
    }
}

@media (max-width: 767px) {
    .squareobj {
        grid-column: span 3;
    }
}

@media (max-width: 1180px) {
    .technology-container {
        justify-content: stretch;
    }
}
