$font-color: #d0d0d0;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;

$background-color: #121212;
$background-alternative-color: #000;

$footer-background-color: #121111;
$footer-text-color: rgb(174, 174, 174);

$header-background-color: linear-gradient(#100f0d, #2b2a2a);
$hover-background-color-body: #ababab;
$hover-background-color-header: #ababab;

$filter-pic: grayscale(50%);

$border-color: #faebd7;

$main-font-size: 1em;
$main-line-height: 1.4;
$magic-number: $main-font-size * $main-line-height;
