$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;

$background-color: #5970ff;
$background-alternative-color: #e0fbfc;

$footer-background-color: #b3932d;
$footer-text-color: #000;

$header-background-color: linear-gradient(#ffd959, #ffde73);
$hover-background-color-body: rgba(255, 213, 0, 0.892);
$hover-background-color-header: #5970ff;

$filter-pic: grayscale(10%);

$border-color: #faebd7;

$main-font-size: 1em;
$main-line-height: 1.4;
$magic-number: $main-font-size * $main-line-height;
